.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 32px 24px;
  background-image: $bg-gradient;

  @media (min-width: 768px) {
    padding: 40px 32px;
  }
  @media (min-width: 1025px) {
    padding: 40px 32px;
  }
}
