//vars
$font-family: "Barlow Semi Condensed", sans-serif;

//colors
$white: white;
$dark-text: hsl(229, 25%, 31%);
$core-text: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);
$overlay-color: rgba(0, 0, 0, 0.5);

//gradients
$scissors-gradient: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
$paper-gradient: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
$rock-gradient: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
$bg-gradient: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));

$gray: #eaebea;
$white-text: #f8f9f8;
$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);

//font size
$font-size--extra-large: 24px;
$font-size--large: 20px;
$font-size--medium: 18px;
$font-size--base: 16px;
$font-size--secondary: 14px;
$font-size--tertiary: 12px;

$btn-shadow-inset: rgba(0, 0, 0, 0.2);
$rock-btn-border: hsl(349, 71%, 52%);
$rock-btn-shadow: hsla(349, 70%, 56%, 0.7);
$paper-btn-border: hsl(230, 89%, 62%);
$paper-btn-shadow: hsla(230, 89%, 65%, 0.7);
$scissors-btn-border: hsl(39, 89%, 49%);
$scissors-btn-shadow: hsla(40, 84%, 53%, 0.7);
